.ActiveMenuItem {
  text-decoration: underline;
}

.MenuItem {
  float: left;
  padding: 15px;
  padding-right: 0;

  a {
    text-decoration: none;
    color: black;
  }

  a:hover {
    @extend .ActiveMenuItem
  }
}
