.PostListing {
  width: 32%;
  margin-right: 1%;
  margin-bottom: 20px;
  padding: 10px;
  float: left;
  border: 1px solid grey;
}

.PostListing__title {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: bold;
  overflow: hidden;
}

.PostListing__excerpt {
  font-size: 0.75rem;
}
