.App {
  width: 100%;
  max-width: 1024px;
  padding: 25px;
}

.content {
  width: 100%;
  float: left;
  clear: both;
  padding: 15px;
}

@media screen and (min-width: 1024px) {
  .App {
    margin: 0 auto;
  }
}
